/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Pretendard';
}
body::-webkit-scrollbar{
  display: none;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style:normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('./assets/font/Pretendard-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
